main{
  padding: 1rem;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #393E46;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  color: #EEEEEE;
}

.animeCover{
  width: 100%;
  height: 100%;
  border-radius: 0 0 1rem 0;
  object-fit: cover;
}

.detail{
  padding: 1rem;
}

.header-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favourite{
  align-self: flex-start;
  margin-left: 0.2rem;
}

.favourite-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #222831;
  border-radius: 0.5rem;
  cursor: pointer;
}

.favourite-icon.disabled{
  transition: all 0.3s ease-in-out;
  color: #800000;
}

.favourite-icon{
  margin: 0.3rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
}


.header-title h2{
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.header h2,h3 {
  letter-spacing: 0.8px;
}

.header p{
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

.genres ul{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  letter-spacing: 0.8px;
}

.genres ul li{
  background-color: #222831;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.stats{
  grid-column: span 2;
}


.fire{
  color: orangered;
}

.star{
  color: yellow;
}

.cloud{
  color: #fff
}

.tick{
  color: greenyellow;
}

.trailer{
  grid-column: span 2;
}

.trailer-box{
  padding: 0rem 1rem 1rem 1rem;
}


.statistics{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
}

.statistics-li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #222831;
  color: #EEEEEE;
}

.statistics-li p:nth-child(1){
  font-size: 0.8rem;
  color: rgba(221, 221, 221, 0.766);
}
.statistics-li p:nth-child(2){
  font-size: 1.1rem;
  font-weight: 600;
}


/* 
@media(max-width:1120px){
  .statistics{
    grid-template-columns: repeat(3, 1fr);
  }
} */

@media(max-width:1288px){
  .cover{
    grid-column: span 2;
    text-align: center;
    padding-top: 1rem;
  }

  .animeCover{
    width: 500px;
    border-radius: 1rem;
    max-width: 100%;
  }

  .detail{
    grid-column: span 2;
  }

  .trailer{
    grid-column: span 2;
  }

  .statistics{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width:672px){
  .statistics{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width:532px){
  .cover{
    padding-top: 0;
  }

  .animeCover{
    border-radius: 0;
  }
}

@media(max-width:466px){
  .statistics{
    grid-template-columns: 1fr;
  }
}
