main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 88.5vh;
}

.container{
  font-size: 1.3rem;
  background-color: #393E46;
  margin: 0.6rem;
  border-radius: 1rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  color: #EEEEEE;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.content{
  padding: 1.5rem;
}

.img-box{
  width: 100%;
  height: 100%;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.api-btn{
  border: none;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #222831;
  color: #EEEEEE;
  padding: 0.6rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.api-btn:hover{
  background-color: #00ADB5;
  transition: all 0.2s ease-in-out;
}

.coder{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.coder span{
  display: flex;
  justify-content: center;
  align-items: center;
  color: maroon;
}

.social-links{
  margin-top: 0.5rem;
}

.social-links ul{
  display: flex;
  gap: 1.5rem;
}

.social-links ul li a{
  transition: all 0.3s ease-in-out;
}

.social-links ul li a:hover{
  transition: all 0.3s ease-in-out;
  color: #00ADB5;
}
