/* .fav-anime{
  min-height: 88.5vh;
  position: relative;
}

.fav-anime h1{
  color: #EEEE;
  margin: 0rem 0rem 1rem 0rem;
  text-align: center;
}

.about-me-link{
  margin: 0.5rem 0.6rem 0.5rem 0.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.question{
  transition: all 0.3s ease-in-out;
}

.question:hover{
  color: #00ADB5;
  transition: all 0.3s ease-in-out;
} */