.footer{
  color: #EEEEEE;
  font-size: 1.2rem;
  background-color: #393E46;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -5px 15px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.8rem;
  max-width: 1500px;
  margin: 0 auto;
}